
    <div data-page="login" class="page no-swipeback" id="app-login-page">
        <div class="page-content">

            <div class="content-block">
            	<div class="login-page-logo"><div class="content-block-title">Вход в сообщество</div></div>
            	<form id="login-form" name="login-form">
			    <div class="row">
			    	<div class="col-100">
			    		<div class="list-block">
		    				<div class="item-content">

		    					<div class="item-inner">
		    						<div class="item-input">
		    							<input type="text" id="email" placeholder="Введите ваш email" name="email">
		    						</div>
		    					</div>
		    				</div>
		    				<div class="item-content">
		    					<div class="item-inner">
		    						<div class="item-input">
		    							<input type="password" id="password" placeholder="Введите ваш пароль" name="password">
		    						</div>
		    					</div>
		    				</div>
		    				
			    		</div>
			    		<div class="list-block">
			    			<ul>
			    				<li><a href="#" id="login-form-submit" class="item-link list-button">Войти</a></li>
			    			</ul>
			    			<div class="list-block-label">
			    				<p>Если вы еще не зарегистрированы в сообществе, пожалуйста <a href="templates/user/registration.html">Зарегистрируйтесь</a></p>
			    				
			    			</div>
			    		</div>
			    	</div>
			    </div>
			    </form>
			</div>
        </div>
    </div>
    